.headerbg {
	background-image: url("img/asset_BG.png");
	background-color: rgba(0, 0, 0, 0.199);
	background-blend-mode: multiply;
}

.headerTitle {
	margin: auto;
	width: 1160px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	text-align: center;
	color: white;
}

.headerTitle ul, li {
	display: flex;
	padding: 10px;
}

.headerTitle,
.headerTitle a {
	color: white;
	text-decoration: none;
}

.headerTitle h1 {
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

.headerTitle p {
	font-size: 10px;
}

.headerbox {
	width: 1100px;
	margin: auto;
	text-align: center;
	padding: 50px;
	color: white;
}

.headerbox p {
	font-size: 72px;
	margin: auto;
	line-height: 200px;
}

.headerbox a {
	color: white;
	background-color: #596fd180;
	text-decoration: none;
	padding: 10px;
	margin: 50px;
}


:root {
	--col-gap: 15px;
}

.body {
	max-width: 1200px;
	margin: auto;
}

.body .row,
.bodymiddle .row {
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;
	margin-right: 15px;
}


[class*='col-'],
[class*='row-cols']>.col {
	padding-left: calc(var(--col-gap) * -1);
	padding-right: calc(var(--col-gap) * -1);
	box-sizing: border-box;
}

.row-cols-1>.col {
	width: 100%;
}

.row-cols-2>.col {
	width: 50%;
}

.row-cols-3>.col {
	width: 33.3333%;
}

.row-cols-4>.col {
	width: 25%;
}

.row-cols-5>.col {
	width: 20%;
}

.row-cols-6>.col {
	width: 16.666666%;
}

.item {
	margin-bottom: 10px;
	padding: 15px;
	margin: 15px;
	margin-top: 30px;
	/* background-color: crimson; */
	text-align: center;

}

.item .Bigfont {
	font-size: 30px;
	font-weight: bold;
	line-height: initial;

}

.item .Text {
	text-align: left;
	line-height: initial;
}

.spaen {
	margin: auto;
	background-color: rgba(27, 0, 148, 0.418);
	background-image: url("img/asset5.png");
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center center;
	color: white;
	padding: 40px;
	line-height: 45px;
}

.spaen p {
	text-align: center;
	margin: auto;
	font-size: 35px;
	width: 1200px;
}

.bodymiddle {
	max-width: 1200px;
	margin: auto;
	padding: 15px;
}

.redH3 {
	color: red;
	font-weight: 900;
}

.lileft,
.lileft li {
	flex-wrap: nowrap;
	text-align: left;

}

.heightText {
	line-height: 30px;
}

.liIcon::before {
	content: '●　';
}

.pic {
	padding: 30px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pic img {
	width: 100%;
}

.picpading {
	height: 50%;
}

.hightpic {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
}

.footerbg {
	background-color: #ccc;
}

.footerbody {
	width: 1200px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.footerSP {
	text-align: left;
	line-height: 24px;
}

.footerSP h4 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.footerSP p {
	font-size: 14px;
}

.footerIcon {
	display: flex;
	align-items: center;
	/* flex-wrap: wrap; */
}

.footerIcon a {
	padding: 10px;
	color: black;
}

.footerIcon .CC {
	align-items:flex-end;
}