.headBg {
    background-image: url("/layout-buldschool/img/a01.png");
    margin: auto;
    border: solid 1px;
}

.divhe {
    margin: auto;
    border: solid 0px;
    display: flex;
    width: 1200px;
    height: auto;
    color: white;
}

.headLOGO {
    text-align: center;
    margin-top: 15px;
}

.headLOGO img {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    padding-right: 10px;

}

.headLOGO h1 {
    padding-top: 5px;
    font-size: 30px;
    white-space: nowrap;
    padding-bottom: 5px;
}

.headLOGO p {
    font-size: 10px;
    padding-top: 5px;
    white-space: nowrap;
}


.head {
    height: 119px;
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
}

.headMin {

    text-align: center;
    font-size: 17px;
    margin: auto;
    display: flex;
}

.headBig {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 72px;
    color: white;
    width: 1200px;
}

.bodyFirst {
    text-align: center;
    display: flex;
    width: 1200px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
}

.bodydiv {
    width: 600px;
    padding: 15px;
}

.bodydiv h3 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 50px;

}

.bodydiv h4 {
    padding-top: 30px;
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
}

.bodyFirst ul {
    padding-left: 25px;
    font-size: 25px;
    line-height: 30px;
    font-weight: lighter;
    text-align: left;
}

.bodydiv article {
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.bodydivimg {
    /* margin: auto; */
    width: 30%;
    margin-top: 50px;
    margin-bottom: 15px;
}

.bodyRang {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 100px;
}

.spaen {
    margin: auto;
    background-color: rgba(27, 0, 148, 0.74);
    background-image: url("/layout-buldschool/img/asset 5.png");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    width: 1200px;
    height: 127px;
}

.spaen h2 {
    color: white;
    align-items: center;
    margin-top: 5%;
    font-size: 25px;
    letter-spacing: 10px
}