.dawCircle {
    width: 40px;
    height: 40px;
    border-radius: 1em;
    margin: auto;
}

.spacegray {
    border: #b2b5b700 6px solid;
    background-color: #B2B5B7;
}

.skyblue {
    border: #c9d8e500 6px solid;
    background-color: #C9D8E5;
}

.silver {
    border: #dee0df00 6px solid;
    background-color: #DEE0DF;

}

.green {
    border: #cddeca00 6px solid;
    background-color: #CDDECA;

}

.rosegold {
    border: #ebcac300 6px solid;

    background-color: #EBCAC3;
}